@using MyEvernote.Entities
@model EvernoteUser

@{
    ViewBag.Title = "Profiliniz";
}

<div class="container mt-5">

    <div class="row">
        <div class="col-md-12">

            <h2>@ViewBag.Title</h2>
            <hr />
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="~/Images/@Model.ProfileImageFileName" class="rounded-circle" width="128" height="128" />
        </div>
        <div class="col-md-10">
            <h3>@(Model.Name + " " + Model.Surname)</h3>
            <br />
            <h6>
                <b>@Html.DisplayNameFor(model=>model.Username): </b>@Model.Username
            </h6>
            <h6>
                <b>@Html.DisplayNameFor(model => model.Email): </b>@Model.Email
            </h6>
            <br />
            <h6>
                <a href="#">More...</a>
            </h6>
        </div>
    </div>

</div>
