@using System.Web.Mvc.Html

@model MyEvernote.Entities.Note

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/ValidationSummary.css" rel="stylesheet" />
<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>
<style>
    .container-category {
        max-width: 50%;
    }

    label {
        font-weight: bold;
    }
</style>


<div class="container container-category mt-5">

    @using (Html.BeginForm("Create", "Note", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <!-- edit form column -->
        @Html.ValidationSummary(false)
        <h4>Not Ekle</h4>
        <hr />
        <div class="form-group row">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @*@Html.TextAreaFor(model => model.Text, 5, 30, new { @class = "form-control" })*@
                <textarea class="ckeditor" name="Text" required=""></textarea>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.NoteImageFileName, htmlAttributes: new { @class = "col-md-2" })

            <div class="col-md-10">

                @Html.HiddenFor(model => model.NoteImageFileName)
                <input type="file" class="form-control mt-2" name="NoteImage" id="NoteImage">

                <i class="fas fa-info-circle"></i>
                <span class="small"><i>Lütfen jpg, jpeg ya da png formatı kullanın.</i></span>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.IsDraft, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.IsDraft, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Bootstrap.Button("success", "btn-sm", "submit", "fas fa-plus", "Oluştur")

                    @Bootstrap.LinkButton("/Note/Index/", "secondary", "btn-sm", string.Empty, "clipboard-list", "Notlarım")
                </div>
            </div>

        </div>

    }

</div>
