@model MyEvernote.Entities.Note

@{
    ViewBag.Title = "Delete";
}

<style>
    .container-category {
        max-width: 50%;
    }

    dt {
        color: #0061F2;
    }
</style>
<div class="container container-category mt-5">
    <h3>Bu konuyu kaldırmak istediğinize emin misiniz ?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd>
                @Html.Raw(Model.Text)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDraft)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDraft)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.LikeCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LikeCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUsername)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">

                @Bootstrap.Button("danger", "btn-sm", "submit", "trash-alt", "Kaldır")

                @Bootstrap.LinkButton("/Note/Index/", "secondary", "btn-sm", string.Empty, "clipboard-list", "Konu Listesi")

            </div>
        }
    </div>
</div>
